<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <%= locals.user || "Please log in"%>
    </h1>
    <p><a href="/users">User Page</a></p>
    <p><a href="/users/new">New User</a></p>
    <p><a href="/posts">Posts Page</a></p>
    <p><a href="/posts/new">New Posts</a></p>

</body>
</html>